<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ID Declined Email</title>
  </head>
  <body
    style="
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    "
  >
    <div
      style="
        background-image: url('<%=bgimage%>');
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 576px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
        background-color: #000;
        color: white;
      "
    >
        <div style="text-align: center; margin-bottom: 20px">
          <img
            src="<%= logo %>"
            alt="Logo"
            style="max-width: 208px; margin: 0 auto"
          />
          <h4
            style="
              color: white;
            font-size: 1.125rem;
            font-weight: 600;
            margin-top: 16px;
            padding: 8px 0;
            border: 1px solid #fcc100;
            margin-left: 4rem;
            margin-right: 4rem;
            "
          >
            <%= subHeaderText %>
          </h4>
        </div>

        <div style="margin-top: 40px">
          <h5 style="font-size: 1.125rem; font-weight: 600; margin-bottom: 16px">
            <%= salutation %>
          </h5>
          <p style="font-size: 1.125rem; margin-bottom: 16px">
            <%= personalizedMessage %>
          </p>

          <img
            src="<%= featuredImage1 %>"
            alt="Featured Image 1"
            style="width: 100%; margin-top: 16px; border-radius: 8px"
          />

          <p style="font-size: 1.125rem; margin-bottom: 16px">
            <span style="color: #fcc100; font-weight: bold"
              >Common Reasons for Decline:</span
            >
          </p>
          <p style="font-size: 1.125rem; margin-bottom: 16px">
            <span style="color: #fcc100; font-weight: bold">Incomplete Information: </span><%=
            IncompleteInformationText %>
          </p>
          <p style="font-size: 1.125rem; margin-bottom: 16px">
            <span style="color: #fcc100; font-weight: bold">Document Quality: </span
            ><%= DocumentQualityText %>
          </p>
          <p style="font-size: 1.125rem; margin-bottom: 40px">
            <span style="color: #fcc100; font-weight: bold">Outdated Documents: </span><%=
            OudatedText %>
          </p>



          <p style="font-size: 1.125rem; margin-bottom: 16px">
            <span style="color: #fcc100; font-weight: bold"
              >What's Next?</span
            >
          </p>
          <p style="font-size: 1.125rem; margin-bottom: 16px">
            <span style="color: #fcc100; font-weight: bold">Resubmit Documents: </span><%=
            ResubmitDocumentsText %>
          </p>
          <p style="font-size: 1.125rem; margin-bottom: 16px">
            <span style="color: #fcc100; font-weight: bold">Assistance: </span
            ><%= AssistanceText %>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
