<!DOCTYPE html>
<html>
  <head></head>
  <body
    style="
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    "
  >
    <div
      style="
        background-image: url('https://i.ibb.co/thbp4L5/background-design.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 576px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
        background-color: #000;
        color: white;
      "
    >
      <div
        style="
          text-align: center;
          margin-bottom: 20px;
        "
      >
        <img
          src="https://omov8-bebd1.web.app/assets/omo-logo-389de2f2.png"
          alt="OMO Logo"
          style="max-width: 208px; margin: 0 auto; display: block;"
        />
        <h1
          style="
            color: white;
            font-size: 1.875rem;
            font-weight: 600;
            margin-top: 16px;
          "
        >
          Welcome to <span style="color: #FCC100">OMO</span>
        </h1>
        <h4
          style="
            color: white;
            font-size: 1.125rem;
            font-weight: 600;
            margin-top: 16px;
            padding: 8px 0;
            border: 1px solid #FCC100;
            margin-left: 4rem;
            margin-right: 4rem;
          "
        >
          <%= subHeaderText %>
        </h4>
      </div>
      <div style="margin-top: 40px;">
        <h5
          style="
            font-size: 1.125rem;
            font-weight: 600;
            margin-bottom: 16px;
          "
        >
          <%= salutation %>
        </h5>
        <p style="font-size: 1.125rem; margin-bottom: 16px;">
          <%= personalizedMessage %>
        </p>
        <h4
          style="
            font-size: 1.125rem;
            font-weight: 600;
            color: #FCC100;
            margin: 32px 0;
            padding: 8px 0;
            text-align: center;
            border: 1px solid #FCC100;
            margin-left: 4rem;
            margin-right: 4rem;
          "
        >
          <%= header2 %>
        </h4>
        <p style="font-size: 1.125rem; margin-bottom: 16px;">
          <span style="color: #FCC100; font-weight: bold;">Explore: </span
          ><%= gettingStartedText %>
        </p>
        <img
          src="https://omov8-bebd1.web.app/assets/FirstTemplateFirst-2e7f4d9a.png"
          alt="Feature 1 Image"
          style="width: 100%; margin-top: 16px; border-radius: 8px;"
        />
        <p style="font-size: 1.125rem; margin-bottom: 16px;">
          <span style="color: #FCC100; font-weight: bold;">Secure Transactions: </span
          ><%= featureText %>
        </p>
        <img
          src="https://omov8-bebd1.web.app/assets/FirstTemplatesecond-39ba3c79.png"
          alt="Feature 2 Image"
          style="width: 100%; margin-top: 16px; border-radius: 8px;"
        />
      </div>
    </div>
  </body>
</html>
